.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.wrapper > div {  /*Applied to all direct divs*/
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) { /*Applied to all direct odd nth child divs*/
  background: #ddd;
}
