body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

main{
  padding-top: 50px;
  overflow: hidden; /* attribute used for stopping the overflow of children divs */
  height: 100%;
  width: 100%;
}

header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgb(68, 68, 68);
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(68, 68, 68);;
}

nav {
  height: 80%
}
section {
  padding-left: 10px;
  padding-right: 10px;
}

input[name] {        /* level 3  css  selector */
  background-color: yellow;
}

input[name="foo"] {     /* level 3  css  selector */
  background-color: black;
  color: white;
}

a[href^="mailto"] { /*Applied to all <a> tags who have href attribute who starts with "mailto" prefix*/
  font-size:2em;
}

input[name$="DD"] { /*Applied to all <input> tags who have name attribute who ends with "DD" prefix*/
  background-color: purple;
  color: white;
}

.button_container {
  float:left;
  height: 100%;
  width:80px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.button_container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#left_block {
  float: left;
  width: 80%;
  height: 100%;
  background-color: #e6e6ff;
}

#right_block {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #ccccff;
}

/* p:first-letter {
  font-size: 1.5em;
} */

/* .button_container:visited {
  background-color: green;
} */

/* .button_container:link {
  background-color: black;
} */
