.body_container {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.header_container {
  height: 50px;
  background-color: #b8b894;
}

.footer_container {
  height: 50px;
  background-color: #b8b894;
}

.main_container {
  height: 750px;
  width: 100%;
}

.button_container {
  float: left;
  height: 30px;
  width:80px;
  margin: 2.5px;
  margin-right: 0px;
  border-style: solid;
  border-color: blue;
  background-color: red;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.button_container:hover {
  background-color: blue;
}

input[name] {        /* level 3  css  selector */
  background-color: yellow;
}

input[name="foo"] {     /* level 3  css  selector */
  background-color: black;
  color: white;
}

a[href^="mailto"] { /*Applied to all <a> tags who have href attribute who starts with "mailto" prefix*/
  font-size:2em;
}

input[name$="DD"] { /*Applied to all <input> tags who have name attribute who ends with "DD" prefix*/
  background-color: purple;
  color: white;
}
#left_block {
  float: left;
  width: 80%;
  height: 100%;
  background-color: #e6e6ff;
}

#right_block {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #ccccff;
}

/* p:first-letter {
  font-size: 1.5em;
} */

/* .button_container:visited {
  background-color: green;
} */

/* .button_container:link {
  background-color: black;
} */
